h1, p {
  font-family: Lato;
}

body {
  background: #f5f5f5;
}

input {
  border: none;
  border-radius: 3px;
  padding: 1rem;
}

input[type="submit"] {
  background: lightseagreen;
  color: #fff;
  cursor: pointer;

  transition: .15s;
}
input[type="submit"]:hover {
  opacity: 0.85;
}

form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.range-input__wrapper {
  margin: 2rem 0;
}

.range-input__values {
  margin: 2rem 0;
}

.range-input__values input {
  width: 100px;
  text-align: center;
}

.range-input__values input + input {
  margin-left: 1rem;
}